exp/
data/
data.bu/
mfcc/
local/
mfcc_aug/
diarization
report/
sid
*.zip
*.tar.gz
*.bu
*~
OpenSubtitles.en-es.en
OpenSubtitles.en-es.es
OpenSubtitles.en-es.ids
README
santiago.txt
WER.txt
WER.txt.bu
rnnlm
steps
utils


