exp/
#data/
data.bu/
mfcc/
input/
waves_yesno/
#local/
mfcc_aug/
*.zip
*.tar.gz
*.sv
*.rttm
*.sonic
OpenSubtitles.en-es.en
OpenSubtitles.en-es.es
OpenSubtitles.en-es.ids
README
santiago.txt
WER.txt
WER.txt.bu
rnnlm
steps
utils


